:root {
  --primary-color: #bd4a6e;
  --secondary-color: #feedf3;
  --border-color: #d4d4d421;
}

body {
  font-family: "Sen", sans-serif;
}

h1 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 50px;
}
h2 {
  font-weight: 700;
}
h3 {
  line-height: 1.5;
}
p {
  font-size: 20px;
  line-height: 1.5;
}

.bg-custom {
  background-color: var(--secondary-color);
}

.website-wrapper {
  max-width: 90%;
  margin: 40px auto;
}

.section-name {
  color: var(--primary-color);
  font-size: 32px;
}

.welcome-statement {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-me {
  margin-bottom: 100px;
}

.my-photo {
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 50%;
  height: auto;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.down-arrow {
  color: var(--primary-color);
  font-size: 30px;
  text-align: center;
  animation: gelatine 0.8s infinite;
}

.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  gap: 50px 100px;
  padding: 0;
  margin: 80px auto;
}

.icon-skills {
  font-size: 40px;
  opacity: 0.7;
  transition: all 150ms ease-in-out;
}
.icon-skills:hover {
  opacity: 1;
  color: var(--primary-color);
}

.project {
  margin: 100px auto;
}

.project-links {
  display: flex;
  gap: 30px;
}

.primary-button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.primary-button:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: #fff;
}

.projects-img {
  width: 90%;
  height: auto;
  border: 5px solid var(--border-color);
  border-radius: 10px;
}

.contact-me {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 40px;
}

.contact-me p {
  font-size: 20px;
}
.contact-icons-wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.icon-contact {
  font-size: 30px;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.icon-contact:hover {
  transform: scale(1.2);
}

footer {
  color: #fff;
  background-color: var(--primary-color);
  opacity: 0.8;
  text-align: center;
  padding: 15px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .my-photo {
    width: 75%;
  }
}
